
#### Ignore Files

**/*.epp
**/*.lnk
**/*.suo
**/*.bat
**/*.pdb
**/*.user
**/*.vshost.*

#### Allow Files

## ie:  !**/some/dir/file.bat


#### Ignore Directories

**/obj
**/Compiles




#### Allow Directories

## ie:  !**/some/dir